body {
    position: relative;
    background:lightgray;
    margin: 0;
    height:1000px;
}

hr {
    margin-bottom:5%;
    border-color: lightgrey
}

p {
    color:darkcyan;
    font-size:20px;
    
}

/* CLASSES */

/*SECTION 1 */
.section1 {
    position: relative;
    background-color:white;
    height:8%;
}

.h1-latitude {
    position: absolute;
    background-color:teal;
    color:white;
    font-family:Garamond;
    font-size: 40px;
    margin: 0;
    height: 50%;
    width: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align:center;
}

.lat {
    left: 1%;
}



/*SECTION 2*/
.section2{
    position: relative;
    background-color:lightgreen;
    height:70%;
    width:75%;
}

.section2-position{
    top: 5%;
    left: 10%;
}

/*SECTION 2-1*/
.section2-1{
    position: absolute;
    background-color:white;
    width:60%;
    height:100%;
    padding-left:3%;
    padding-right:3%;
}

.h2{
    font-size: 55px;
    color:teal;
    font-family:Garamond;

}

.img-size{
    height:40%;
    width:40%;

}
