body {
    background:lightgray;
    margin: 0;
    height:1000px;
}

/* CLASSES */

.section1 {
    position: relative;
    background-color:white;
    height:10%;
}

.h1-latitude {
    position: absolute;
    background-color:teal;
    color:white;
    font-size: 45px;
    margin: 0;
    height: 50%;
    width: 10%;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align:center;


}

.lat {
    left: 1%;
}