/* HEADERS */
h1 {
    color:teal;
    font-weight:bold;
    font-family:Verdana;
    font-size:40px;
}

h2 {
    color:teal;
    font-weight:bold;
    font-family:Verdana;
    font-size:35px;
}

.white {
    background-color:white;
}

.lightgrey-background {
    background-color:lightgrey;
}


.white_text {
    color:white;
}

.latitude {
    font-size: 30px;
    font-weight:bold;
    background-color:teal;
    font-family:Verdana;    
}

.index_box1 {
    border-width: medium;
    min-height: 50px;
    background-color:grey;
}

.img-size1 {
    width:400px;
    height:400px;
}

.img-size2 {
    width:300px;
    height:300px;
}

#vis-imgs1{
    top:0;
    left:0;
}

#vis-imgs2{
    top:0;
    right:0;
}

#vis-imgs3{
    bottom:0;
    left:0;
}

#vis-imgs4{
    bottom:0;
    right:0;
}

.text-size {
    font-size:25px;
    font-family:garamond;
    color:darkcyan;
}

.height-100px {
    height:100px;
}

